<html>
	<head>
		<title>Testing Google Maps</title>
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<link rel="stylesheet" type="text/css" href="css/gmap.css">
		<script type="text/javascript" src="js/underscore.js"></script>
		<script type="text/javascript" src="js/underscore.observable.js"></script>
		<script type="text/javascript" src="js/addGoogleMarkers.js"></script>
		<script type="text/javascript" src="js/getPlaces.js"></script>
		<script type="text/javascript" src="js/loadGoogleMaps.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCW05cSSwo3FuErNsd0lvfcEsIrRdI5NHI&libraries=places"></script>
	</head>

	<body>
		<!-- Add the section below to add the map and results section -->
		<div id="map-canvas" width="200" height="200" alt="Google Maps"></div>
		
		<div>
			<div class="errorMessage"></div>
			<input type="text" id="address"><input type="submit" id="queryAddress">
			<div id="geocode_results"></div>
		</div>

		<!-- End of Section -->
	</body>
</html>
